@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

$white: #ffffff;
$orange: #ffb548;
$black: #1a1917;
$red: #ff1313;
$gradient: linear-gradient(194.68deg, #ffb548 11.27%, #f3af34 90.4%);
